.idea
.vscode
.vs
.DS_Store
bin/
cmake-build-debug/
cmake-build-debug-visual-studio/
cmake-build-debug-visual-studio-coverage/
cmake-build-debugwithlogging/
cmake-build-release/
debug/
release/
**/src/Domain/Tests/Baselines/Current
CMakeLists.txt.user
bench/*/out
